html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*(Start) This section is for the Redeem button in the home page */
.arrow-icon {
    display: none;
    margin-left: 5px;
    border-radius: 50%;
}

.btn-redeemed .arrow-icon {
    display: inline-block;
}
/*(End) This section is for the Redeem button in the home page */

/*(Start) This section is for the Multi Carousel in the home page */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/*(End) This section is for the Multi Carousel in the home page */


/*add new for the user in the store page*/
.coolBeans {
    border: 2px solid currentColor;
    border-radius: 3rem;
    font-family: roboto;
    font-size: 4rem;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

    .coolBeans::after {
        background-color: green;
        border-radius: 3rem;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: .2s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    .coolBeans:hover::after {
        transform: translate(0, 0);
    }

    .coolBeans:hover {
        border: 2px solid transparent;
        color: black;
        transform: scale(1.05);
        will-change: transform;
    }